<form action="/merchants/<%=@merchant.id %>" method="post">
  <label for="name">Retailer Name:</label>
  <input type="text" name="name" id="name" value="<%= @merchant.name %>"/>
  <input type='submit' value="Submit">
</form>
