<form action="/transaction" method="post">
  <label for="amount">Amount: </label>
  <input type="text" name="amount" id="amount">
  <label for="name">Retailer: </label>

  <select name="merchant_id" id="name">
    <option option selected disabled >Select Retailer</option>
    <% for merchant in @merchant%>
    <option value=<%= merchant.id %>><%= merchant.name %></option>
    <% end %>
  </select>

  <select name="tag_id" id="type">
    <option option selected disabled >Select Tag</option>
    <% for tag in @tags %>
    <option value=<%= tag.id %>><%= tag.type %></option>
    <%end %>
  </select>





    <input type="submit" value="Submit">
</form>
